*.deb
*.buildinfo
*.changes
*.dsc
*.tar.xz

debian/upeelechien/

.DS_Store
*.swp
*~

# Fichiers générés par Debian
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars

# Fichiers générés par Flatpak
.flatpak-builder/
build-dir/
repo/
