[Desktop Entry]
Name=Upeelechien
Name[fr]=Upeelechien
Comment=IA française locale pour Linux
Comment[fr]=IA française locale pour Linux
GenericName=Intelligence artificielle
GenericName[fr]=Intelligence artificielle
Exec=upeelechien
Icon=upeelechien
Terminal=true
Type=Application
Categories=Utility;
Keywords=IA;AI;Chat;Assistant;Qwen;Ollama;
StartupNotify=true
